checknote.ru {
    reverse_proxy nextjs:3000
}

s3.checknote.ru {
    reverse_proxy minio:9000
}

s3-console.checknote.ru {
    reverse_proxy minio:9001
}

pb.checknote.ru {
    reverse_proxy pocketbase:8090
}

hp.checknote.ru {
    reverse_proxy pocketbase:1234
}
